h1 > a {
  color: #163e70;
}
html {
  font-family: "Lato",sans-serif;
}
.dropDown {
  background-color: #7db7d2;
  border-color: #7db7d2;
  color: white;
}
.btn, .btn:hover, .btn:focus, .btn:active {
  background-color: #7db7d2;
  border-color: #7db7d2;
  color: white;
}
.btn-drop, .btn-drop:hover, .btn-drop:focus, .btn-drop:active {
  background-color: #7db7d2;
  border-color: #7db7d2;
  color: white;
}
.btn-submit, .btn-submit:hover, .btn-submit:focus, .btn-submit:active {
  background-color: #163e70;
  border-color:#163e70;
  color: white;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 25px 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.container {
  padding-top: 120px;
}
header .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  
}
header .label {
  font-size: 1.25em;
  padding-top: 5px;
  color: black;
}
.content {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.inner-content {
  border-style: solid;
  border-width: thin;
  border-color: #7db7d2;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.video, .image {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}
.resource-name {
  display: flex;
  justify-content: center;
}
.wrapper {
  background-image: url("https://lh6.googleusercontent.com/CsHEumdetie6adX93Hvj_0tHum1vt_d6T0TwxrdsVyvp1159Vc111MP9qvDi7wy4wJ_s7rJrzi88OKQ6UJFg=w1920-h946");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
